<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>QuanLySinhVien</display-name>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>Servlet.DeleteAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddAccountServlet</display-name>
		<servlet-name>AddAccountServlet</servlet-name>
		<servlet-class>Servlet.AddAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>Servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>Servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Update_AccountServlet</display-name>
		<servlet-name>Update_AccountServlet</servlet-name>
		<servlet-class>Servlet.Update_AccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TimeTableServlet</display-name>
		<servlet-name>TimeTableServlet</servlet-name>
		<servlet-class>Servlet.TimeTableServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddStudentServlet</display-name>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>Servlet.AddStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStudentServlet</display-name>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>Servlet.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteStudentServlet</display-name>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>Servlet.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddSubjectServlet</display-name>
		<servlet-name>AddSubjectServlet</servlet-name>
		<servlet-class>Servlet.AddSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateSubjectServlet</display-name>
		<servlet-name>UpdateSubjectServlet</servlet-name>
		<servlet-class>Servlet.UpdateSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteSubjectServlet</display-name>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<servlet-class>Servlet.DeleteSubjectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateAccountStudentServlet</display-name>
		<servlet-name>UpdateAccountStudentServlet</servlet-name>
		<servlet-class>Servlet.UpdateAccountStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TimKiemTheoServlet</display-name>
		<servlet-name>TimKiemTheoServlet</servlet-name>
		<servlet-class>Servlet.TimKiemTheoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckoutServlet</display-name>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>Servlet.CheckoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetServlet</display-name>
		<servlet-name>ResetServlet</servlet-name>
		<servlet-class>Servlet.ResetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateScoreServlet</display-name>
		<servlet-name>UpdateScoreServlet</servlet-name>
		<servlet-class>Servlet.UpdateScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteScoreServlet</display-name>
		<servlet-name>DeleteScoreServlet</servlet-name>
		<servlet-class>Servlet.DeleteScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccountServlet</servlet-name>
		<url-pattern>/AddAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update_AccountServlet</servlet-name>
		<url-pattern>/Update_AccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeTableServlet</servlet-name>
		<url-pattern>/TimeTableServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/AddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/UpdateStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/DeleteStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSubjectServlet</servlet-name>
		<url-pattern>/AddSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSubjectServlet</servlet-name>
		<url-pattern>/UpdateSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<url-pattern>/DeleteSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAccountStudentServlet</servlet-name>
		<url-pattern>/UpdateAccountStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimKiemTheoServlet</servlet-name>
		<url-pattern>/TimKiemTheoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/CheckoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetServlet</servlet-name>
		<url-pattern>/ResetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateScoreServlet</servlet-name>
		<url-pattern>/UpdateScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteScoreServlet</servlet-name>
		<url-pattern>/DeleteScoreServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>